<div class="row w-100 m-0 mt-2">
  <div class="form-group col-3 px-0 m-0 mr-2">
    <select name="curriculums" id="curriculums" class="custom-select" [ngModel]="selectedCurriculum"
            (ngModelChange)="curriculumSelection($event)">
      <option [ngValue]="null">Select Curriculums</option>
      <option *ngFor="let curr of curriculums; index as idx" [ngValue]="curr">
        {{ curr.curriculumName }}
      </option>
    </select>
  </div>
  <div class="form-group col-3 px-0 m-0 mr-2">
    <select name="terms" id="terms" class="custom-select" [disabled]="terms?.length === 0"
            [ngModel]="selectedTerm" (ngModelChange)="termselection($event)">
      <option [ngValue]="null">Select terms</option>
      <option *ngFor="let term of terms; index as idx" [ngValue]="term">
        {{ term.termName }}
      </option>
    </select>
  </div>
  <div class="form-group col-3 px-0 m-0 mr-2">
    <select name="course" id="course" class="custom-select"
            [disabled]="selectedTerm === null || courses?.length === 0" [ngModel]="selectedCourse"
            (ngModelChange)="courseSelection($event)">
      <option [ngValue]="null">Select Course</option>
      <option *ngFor="let course of courses; index as idx" [ngValue]="course">
        {{ course.courseTitle }}
      </option>
    </select>
  </div>
</div>
