/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 8.35rem;
}

.active { 
  font-weight: 700;
}

.custom-select {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus, .btn::selection {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}